*{
    text-align: center;
    font-family: montserrat;
    font-weight: 600;

    vertical-align: baseline;
    
}

#tabla{
    margin: auto;
}

a{
    text-decoration: none;
    color: #302d29;
}

td a{
   text-decoration: none;
   color: #302d29;
}

a:hover{
    color:#dfdbd6 ;
}

td a:hover{
    color:steelblue ;
}

input{
    margin:8px;
}

input[type='submit']{
	background-color: #302d29;
	color: #dfdbd6;
	margin: 0 10%;
	margin-top: 22px;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
	border: none;
}

input[type='submit']:hover{
    background-color: #575049;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #302d29;
    color: #fff;
    text-decoration: none;
    background: #302d29;
}

.btn:hover {
    background: none;
    
}
